# https://rauc.readthedocs.io/en/latest/integration.html#systemd-integration

[Unit]
Description=RAUC Good-marking Service
After=local-fs.target
Conflicts=tryboot-commit.service

[Service]
ExecStart=/usr/bin/rauc status mark-good

[Install]
WantedBy=multi-user.target
