#  SPDX-License-Identifier: GPL-2.0-or-later
#
#  This file is part of rtone-br2-external.
#
#  rtone-br2-external is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by the
#  Free Software Foundation; either version 2.0 of the License, or (at your
#  option) any later version.

[Unit]
Description=Cleanup tryboot.txt File on A
Documentation=https://www.raspberrypi.com/documentation/computers/raspberry-pi.html#fail-safe-os-updates-tryboot
ConditionKernelCommandLine=|root=/dev/mmcblk0p5
ConditionPathExists=/sys/firmware/devicetree/base/chosen/bootloader/tryboot
ConditionPathExists=/boot/a/tryboot.txt
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mount -oremount,rw /boot/autoboot
ExecStart=/usr/bin/cp -f /boot/autoboot/autoboot-a.txt /boot/autoboot/autoboot.txt
ExecStart=/usr/bin/mount -oremount,ro /boot/autoboot

[Install]
WantedBy=multi-user.target
