---
---

$primary-color:     #c23450;
$secondary-color:   #24485d;
$green-color:       #53baaa;
$orange-color:      #ff6d01;
$pink-color:        #f16880;
$yellow-color:      #ffbd4a;
$lightgreen-color:  #d9f9f4;
$lightorange-color: #f4e2c4;
$lightpink-color:   #f6d1d7;
$lightyellow-color: #ffe0d6;

$base-font-family: "Raleway";

@import "{{ site.theme }}";

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

/* Ugly hack to remove duplicate h1 on home page. */
.page-heading {
  font-size: 0px;
  visibility: hidden;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

#tldr, #test, #copyright {
  color: $green-color;
  background-color: $lightgreen-color;
}

#requirements, #patches {
  color: $orange-color;
  background-color: $lightorange-color;
}

#download, #bugs {
  color: $pink-color;
  background-color: $lightpink-color;
}

#build, #author {
  color: $yellow-color;
  background-color: $lightyellow-color;
}

pre, code {                                                                          
  background: #f3f3f3;
}

a {
  color: darken($text-color, 15%);

  &:visited {
    color: darken($text-color, 30%);
  }
}

.highlight {
  background: #f3f3f3;

  .highlighter-rouge & {
    background: #f3f3f3;
  }
}
